<html>
    <head>
        
        <title> update item </title>
        <link rel="stylesheet" href="../static/style.css">       
    </head>
    <body>
        <div class="navbar">
            <ul class="nav">
                <li><a class="logo" href="#">FINDER</a></li>
                <div style="float: right;">
                    {% if admin %}
                    <li><a href="{{url_for('admindashboard')}}">dashboard</a></li>
                    {% endif %} 
                    <li><a href="{{url_for('index')}}">Home</a></li>
             
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li><a href="#">About</a></li>
                </div>
              </ul>
           </div>
      
        <div class="form-content" align="center">
            <div class="form-top">
                <h1>Update Item</h1>
            </div></br></br>
            <div>
              <form action="{{ url_for('update_item',item_id=upitem[0])}}" method="post" autocomplete="off" enctype="multipart/form-data">
                {% if msg %}
                <div class="msg">{{ msg }}</div>
                <br>
                {% endif %}
            <input type="text" name="title" placeholder="enter item needed" class="textbox" id="title" value="{{upitem[1]}}" required></br></br>
            <input type="text" name="body" placeholder="Enter small description" class="textbox" id="body" value="{{upitem[2]}}" required></br></br>
            <input type="text" name="address_raised" placeholder="enter your address" class="textbox" id="address_raised" required value="{{upitem[6]}}"></br></br>
            <input type="text" name="address_available" placeholder="enter item received address" class="textbox" id="address_available" value="{{upitem[7]}}"></br></br>
            
            {% if upitem[5] %}
            make it received?<input type="checkbox" name="isprivate" checked>
            {% else %}
            make it received?<input type="checkbox" name="isprivate" checked>
            {% endif %}
            <br><br>
            <input type="submit" class="btn" value="create">
              </form></br></br>
            </div>
        </div>
    </body>
</html>